.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.containerLinks {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.7;
  max-width: 900px;
}

.containerButtons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.icons {
  width: 24px;
  height: 24px;
}
