.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerLinks {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.containerImage {
  flex-grow: 0.5;
}

.containerButtons {
  display: flex;
  gap: 10px;
  flex-grow: 0.3;
  justify-content: flex-end;
}
